body {
    background-color: #46686e !important;
}

h2 {
    text-align: center;
    font-size: 50px !important;
    color: #5ddcff;
}

img{
    width: 100% !important;
    height: 610px;
}

/* #Personagens{
    background-image: url(Img/Mapa.jpg);
    background-size: contain;
} */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #41464b !important;
    margin: 3%;
}

p {
    font-size: 13px !important;
    margin-bottom: 2px !important;
    color: white;
}

.card:before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card:after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
.card:hover:after{
    background: none;
    transition: opacity 2s;
}

:root {
    --card-height: 365px;
    --card-width: calc(var(--card-height) / 1.5);
}

@property --rotate {    
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.img {
    width: 240px !important;
    height: 310px
}

.img-casas{
    width:90px;
    margin-left: 10px;
}
.gryffindo{
    background-color: #912136cc !important;
    color: #000000 !important;
}
.slytherin{
    background-color: #0f3a29a1 !important;
    color: #000000 !important;
}
.hufflepuff{
    background-color: #cba25bcc !important;
    color: #000000 !important;
}
.revenclaw{
    background-color: #34657ed1 !important;
    color: #000000 !important;
}
video{
    width:100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #212529 !important;
    padding: 3px !important;
}

/* Section Bootstrap */

.navbar-brand {
    color: #0dcaf0 !important;
}

.nav-link {
    color: #0dcaf0 !important;
}

.btn-outline-success {
    color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.form-control {
    color: #0dcaf0 !important;
    background-color: #0dcaf080 !important;
    width: 300px !important;
    border: none !important;
}

.btn-outline-success:hover {
    color: #000000 !important;
    background-color: #0dcaf0 !important;
}