body {
    background-color: gray;
}

h2 {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin: 1%;
}

.img {
    width: 200px;
    height: 300px;
}

/* Section Bootstrap */

.navbar-brand {
    color: #0dcaf0 !important;
}

.nav-link {
    color: #0dcaf0 !important;
}

.btn-outline-success {
    color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.form-control {
    color: #0dcaf0 !important;
    background-color: #0dcaf080 !important;
}

.btn-outline-success:hover {
    color: #000000 !important;
    background-color: #0dcaf0 !important;
}